---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>

    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="{{ additional_styles }}">
  </head>
  <body>
    <div id="sidebar">
      <div>
        <header>
          <h1 id="logo">
            <a href="/">
              <span id="logo_top">christian</span>
              <br />
              <span id="logo_bottom">bernier</span>
            </a>
          </h1>
        </header>
        <nav>
          <a href="/">about</a>
          <a href="/education">education</a>
          <a href="/experience">experience</a>
          <a href="/projects">projects</a>
          <a href="/blog">blog</a>
        </nav>
      </div>
    </div>
    <main>{{ body }}</main>
    </div>
  </body>
</html>
