.page-title {
  padding-bottom: 1rem !important;
}

.article-links {
  margin-bottom: 20px;
}

.article-published {
  font-style: italic;
}

hr {
  margin-top: 20px;
  margin-bottom: 30px;
}

article p {
  font-size: 1rem;
  line-height: 1.4;
}

section:not(:first-of-type) {
  margin-top: 30px;
}
